html{
    font-family:Arial, Helvetica, sans-serif
}
html, body{
    height:100%;
}

.header{
    background-color: #0A1A2A;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
}
.largeWindow{
    padding: 20px;
    font-size: 26px;
    color:white;
    text-decoration: none;
    transition: 0.3s;
    background-color: #0A1A2A;
}

.searchArea{
    display: flex;
    position: absolute;
    transform: translateX(50%);
    transition-duration: 1s;
    z-index: -1;
}
.searchArea.active {
    display: flex;
    transition-duration: 1s;
    transform: translateX(170%); 
}
#searchInput{
    font-size: 24px;
    border-radius: 30px;
}
#searchInput::placeholder{
    text-align: center;
}
#searchBtn{
    height: 32px;
    background-color: #0A1A2A;
    margin-left: 5px;
    border-radius: 30px;
}
#searchBtn img{
    width: 30px;
    height: 30px;
}
#menuImg{
    display: none;
}
.smallWindow{
    display: none;
}
@media (max-width: 810px) {
    .header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .largeWindow {
        display: none;
    }

    #menuImg {
        display: block;
        width: 50px;
        height: auto;
        margin-left: 20px;
        padding: 10px;
        border-radius: 10px;
        transition: 0.3s;
    }
    #menuImg:hover{
    background-color: lightgray;
    }
    .popUpMenu{
        visibility: hidden;
        border-radius: 10px;
        position: relative;
    }
    .smallWindowContainer{
        position: absolute;
        top: -30px;
        width:600px ;
        background-color: #6C7A89;
        border-radius: 10px;

    }
    .smallWindow{
        display: flex;
        padding: 20px;
        font-size: 26px;
        text-decoration: none;
        color: white;
    }

}
.header a:hover{
    background-color: orange;
    color: black;
    border-radius: 10px;
}
.main{
    background-color: #0A1A2A;
    margin:0;
    height:92vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    background-color:#6C7A89;
    height: 4vh;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.footer p{
    font-weight: bold;
}