.left {
    width: 600px;
    height: 85vh;
    border-right: 1px solid white;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftBar {
    width: 500px;
    color: white;
    text-align: center;
    font-size: 26px;
    text-decoration: none;
    padding: 20px 0px 20px 0px;
    border-radius: 10px;
    transition: 0.3s;
}

.leftBar:hover {
    background-color: orange;
    color: black;
}

.leftUserArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}

#userIcon {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#userName {
    font-size: 26px;
    color: white;
    text-align: center;
}

.center {
    width: 600px;
    height: 85vh;
    margin: 0px 40px 0px 40px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    /* display: flex;
    justify-content: center; */
}
.content {
    width: 500px;
    height: auto;
    margin-top: 20px;
}

.contentUserInfo {
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0px 40px 0px 40px;
    padding: 8px 0px 8px 0px;
    border-radius: 10px;
    transition: 0.3s;
}
.contentUserInfo:hover{
  box-shadow: 0 0 20px rgba(220, 216, 12);
}

#contentUserImg {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* margin-right: auto; */
}

#contentUserName {
    font-size: 24px;
    color: white;
}

.contentArea {
    margin-left: 40px;
    margin-right: 40px;
    /* border-bottom: 1px solid lightgray; */
}
#recentPost {
    font-size: 26px;
    color: white;
}
#userPost {
    font-size: 24px;
    color: white;
}
.right {
    width: 1200px;
    height: 85vh;
    border-left: 1px solid white;
    margin-right: 40px;
}
.messageArea{
    height: 85vh;
}
.messageDisplay{
    height: 80vh;
    overflow-y: scroll;
    scrollbar-color:white #0A1A2A;
}
#userMessageArea{
    color: white;
    font-size: 24px;
    display: flex; 
    margin: 5px 10px 5px 10px;
}
#userID{
    margin-right: 20px;
    flex-shrink: 0;
}
#userMessage{
    background-color: lightgray;
    margin: 5px 0px 5px 0px;
    color: black;
    padding: 10px 10px 10px 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.messageInputArea{
    height:82px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#messageInput{
    width: 650px;
    height: 64px;
    font-size: 24px;
    border-radius: 30px;
}
#messageInput::placeholder{
    text-align: center;
}
#messageBtn{
    height:69px;
    width: 130px;
    font-size: 24px;
    border-radius: 30px;
    box-shadow: 0 3px #999;
}
#messageBtn:active {
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}