.left {
    width: 600px;
    height: 85vh;
    border-right: 1px solid white;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.leftBar {
    width: 500px;
    color: white;
    text-align: center;
    font-size: 26px;
    text-decoration: none;
    padding: 20px 0px 20px 0px;
    border-radius: 10px;
    transition: 0.3s;
}

.leftBar:hover {
    background-color: orange;
    color: black;
}

.leftUserArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}

#userIcon {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#userName {
    font-size: 26px;
    color: white;
    text-align: center;
}

.center {
    width: 1200px;
    height: 85vh;
    margin: 0px 40px 0px 40px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    display: flex;
    justify-content: center;
}

.content {
    width: 900px;
    height: auto;
    margin-top: 20px;
}

.contentUserInfo {
    /* border: 1px solid white; */
    display: flex;
    align-items: center;

}

#contentUserImg {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#contentUserName {
    font-size: 24px;
    color: white;
}
#followBtn {
    width: 120px;
    height: 50px;
    font-size: 26px;
    /* color: white; */
    border-radius: 15px;
    box-shadow: 0 3px #999;
    margin-left: auto;
}
#followBtn:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.contentArea {
    margin-left: 40px;
    margin-right: 40px;
    border-bottom: 1px solid lightgray;
}
#recentPost{
    font-size: 26px;
    color: white;
}
#userPost {
    font-size: 24px;
    color: white;
}

.right {
    width: 600px;
    height: 85vh;
    border-left: 1px solid white;
    margin-right: 40px;

}
